@model IEnumerable<Library.Core.Models.Readers>

@{
    ViewBag.Title = "AdminReaders";
}

@section Scripts{

}

@section Body{

    <div class="section panel panel-primary">
        <div class="panel-heading">Список читателей</div>
        <div class="panel-body">
            <p>
                @Html.ActionLink("Добавить читателя", "AdminAddReader", null, new { @class = "btn btn-xs btn-primary" })
                @Html.ActionLink("На главную", "AdminPanel", null, new { @class = "btn btn-xs btn-primary" })
                @Html.ActionLink("Выйти", "Index", null, new { @class = "btn btn-xs btn-primary" })
            </p>
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Ф.И.О.</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FIO</td>
                            <td>
                                <div class="btn-group">
                                    @Html.ActionLink("Подробнее", "AdminDetailsReader", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" })
                                    @Html.ActionLink("Изменить", "AdminEditReader", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" })
                                    @Html.ActionLink("Удалить", "AdminDeleteReader", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}